$black: #000;
$white: #ffffff;
$blackOpacity: rgb(0, 0, 0, 0.5);
$gradientSecond: linear-gradient(
  146.52deg,
  #f368e0 -6.32%,
  #5f27cd 56.47%,
  #48dbfb 120.58%
);
$gradientThird: linear-gradient(
  180deg,
  rgba(202, 94, 219, 0.3) 1.53%,
  #e2c7ec 1.54%,
  #d7e1ef 101.78%
);
